.post-entry .entry-cover {
    max-height: 200px;
    overflow: hidden;
}

.post-entry .entry-cover img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

/* this targets the first/featured post */
.first-entry .entry-cover {
    max-height: 200px;
    overflow: hidden;
}

.first-entry .entry-cover img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
