{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if (.Param "ShowViewCount") -}}
{{- $slug := .RelPermalink | anchorize -}}
{{- $viewCountID := printf "viewcount-%s" .File.UniqueID -}}
{{- $viewCount := printf `<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 14px; height: 14px; vertical-align: middle; margin-right: 2px; margin-bottom: 2px;"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg><span id="%s">...</span></span><script>
(function() {
  const slug = "%s";
  const postPath = "%s";
  const currentPath = window.location.pathname;
  const normalize = p => p.replace(/\/$/, "");
  const isPostPage = normalize(currentPath) === normalize(postPath);
  const action = isPostPage ? "inc" : "get";
  
  fetch("/api/views?slug=" + slug + "&action=" + action)
    .then(res => res.json())
    .then(res => {
      const el = document.getElementById("%s");
      if (el) el.innerText = (res.count || 0).toLocaleString();
    })
    .catch(() => {
      const el = document.getElementById("%s");
      if (el) el.innerText = "0";
    });
})();
</script>` $viewCountID $slug .RelPermalink $viewCountID $viewCountID }}
{{- $scratch.Add "meta" (slice $viewCount) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
